

<%- model_class = Motion -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:motion_time) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @motions.each do |motion| %>
      <tr>
        <td><%= link_to motion.id, motion_path(motion) %></td>
        <td><%= motion.sleep_id %></td>
        <td><%= motion.motion_time %></td>

        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_motion_path(motion), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      motion_path(motion),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>






<br>
<%= link_to 'New Motion', new_motion_path %>

